POSTGRES_DB=fastify-practice
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fastify-practice?schema=public

PORT=3000

JWT_SECRET=jwt-secret-key
JWT_EXPIRES_IN=6000
