POSTGRES_DB=fastify-practice
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fastify-practice?schema=public

CORS_ORIGIN=http://localhost:3000
PORT=3000

JWT_SECRET=jwt-secret-key
JWT_EXPIRES_IN=6000

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=