.back-btn {
    width: fit-content;
    margin-block-end: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.legend {
    font-size: 20px;
    margin-block-end: 16px;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
