.title {
    line-height: 1.2;
    font-weight: 700;
    font-size: 32px;
    display: block;
    color: transparent;
    width: fit-content;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, var(--c-primary) 20%, var(--c-accent) 80%);
}
