.field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
    color: var(--c-shade-4);
    transition: all 0.2s ease-in-out;

    &:has(:focus-visible) {
        color: var(--c-primary);
    }

    &:has(.error:not(:empty)) {
        input,
        textarea {
            border-color: var(--c-red);
        }
    }

    input,
    textarea {
        width: 100%;
        outline: none;
        color: var(--c-white);
        font-size: 16px;
        line-height: 20px;
        padding: 12px 16px;
        background: var(--c-shade-1);
        border: 1px solid var(--c-shade-2);
        border-radius: 8px;
        transition: inherit;

        &::placeholder {
            color: var(--c-shade-3);
        }

        &:focus-within {
            border-color: var(--c-primary);
            background: var(--c-accent-bg);
        }

        &:hover:not(:disabled) {
            background: var(--c-shade-2);
        }
    }

    input {
        &[type='number'] {
            -moz-appearance: textfield;
            appearance: textfield;
        }

        &[type='number']::-webkit-outer-spin-button,
        &[type='number']::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    textarea {
        resize: none;
        min-height: 120px;
    }
}
